<h1>Contact Us</h1>
<p>Located in the Republic of Panama. Here are several ways to contact us</p>
<ul>
	<li>Telephone: (507) 455-3455</li>
	<li>Address: Ave. Balboa</li>
	<li>Email: info@panamabikes.com</li>
</ul>
