<p id="notice"><%= notice %></p>

    <div class="row">
      <h1>Our products</h1>
        <%= render @products %>
    </div>

<div class="row">
  <br>
  <%= link_to 'Add New Product', new_product_path, class: "btn btn-info" %>
  <br>

</div>